<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <form action="/listings" method="POST">
        <br /><br />
        <h3>Create a New Listing</h3>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="Enter Title"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            placeholder="Enter description"
            class="form-control"
          ></textarea>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input
            type="text"
            name="listing[image]"
            placeholder="Enter URL/Link of image"
            class="form-control"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              placeholder="Enter the Price"
              class="form-control"
            />
          </div>

          <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              name="listing[location]"
              placeholder="Enter location"
              class="form-control"
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="Enter Country"
            class="form-control"
          />
        </div>

        <br /><br />
        <button class="btn btn-dark add-btn">Add Listing</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
